* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #181A1B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex; /*mediada flexni o'chir*/
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.wrapper div {
    padding: 12px 28px;
}

