* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #181A1B;
}

body {
    background-color: #181A1B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex; /*mediada flexni o'chir*/
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* background-color: white; */
}

.wrapper .hour, .min {
    font-size: 32px;
    color: white;
}

.hour {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 8px;
}
.min {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 8px;
    padding-right: 16px;
}

.tog {
    color: white;
    font-size: 18px;
}

#tog{
    width: 10px;
    text-align: center;
}
